<div class="match-container">
    <mat-card *ngFor="let matchedUser of matchs$ | async">
      <mat-card-header>
        <mat-card-title>{{matchedUser.first_name}} {{matchedUser.last_name}}</mat-card-title>
        <mat-card-subtitle>
          <span *ngFor="let tag of matchedUser.tags">{{tag.name}} </span>
          <button (click)="supprTag()" mat-menu-item>
            <span>Supprimer Tag</span>
          </button>
        </mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </div>